/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v28-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.katta {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 23, 71, 0.15);
  width: 1000px;
  height: 670px;
}
.orab {
  margin-top: 80px;
}
.royhatdan-otish {
  border: none;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}
form {
  margin-top: 32px;
  display: flex;
  gap: 320px;
  border: 0.1px solid black;
}
.btn {
  border: none;
  border-radius: 4px;
  border: 1px solid var(--Mavi, #2d70fd);
  background: #2d70fd;
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
}
.btn:hover {
  background-color: #ffaa00;
  border: 1px solid var(--Mavi, #ffaa00);
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.dack {
  color: #001747;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  letter-spacing: 0.16px;
}
.dack1 {
  color: #2d70fd;
  font-feature-settings: "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  letter-spacing: 0.16px;
  width: 200px;
}
.dack2 {
  color: #8f98a8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.16px;
  text-decoration-line: strikethrough;
}
.dack:hover {
  color: #2d70fd;
}
.dack1:hover {
  color: #2d70fd;
}
.dack2:hover {
  color: #2d70fd;
}
.item img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img {
  border: 0.1px solid #00d8a7;
  border-radius: 50%;
  background-color: #00d8a7;
}
.link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.orab2 {
  display: flex;
  gap: 10px;
}
.katta5 {
  margin-top: 75px;
  display: flex;
  gap: 370px;
}
.item2 {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.line {
  border: none;
  margin-top: 176px;
  background: #eee;
  width: 600px;
  height: 1px;
  margin-bottom: 24px;
}
.yozuv {
  color: #b1bacb;
  font-feature-settings: "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  letter-spacing: 0.16px;
}
.yozuv-orab {
  display: flex;
  gap: 473px;
}
